.cuadro {
    margin: 3px;
    height: 120px;
    width: 120px;
}
#cuadro1 {
    
    background-color: green;
}
#cuadro2 {
    
    background-color: yellow;
}
#cuadro3 {
    background-color: blue;
}
#cuadro4 {
    background-color: red;
}