.cuadro {
    margin: 2px;
    padding: 2px;
    height: 140px;
    width: 100px;
}
.width {
    width: 100%;
  }

#minutos {
    width: 1%;
}
#segundos {
    width: 1%;
}
#tituloTiempo {
    
    color: red;
}
.oculto {
    display: none;
}
#boton-empezar {
    width: 8%;
}
#titulo {
    
    background-color:lightblue
}
#intentos {
    display: none;
}
